---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Jared Gabaldon">
  <section>
    <h1>Contact</h1>
    <p>
      Email:
      <a href="mailto:jaredgabaldon25@gmail.com" style="color:white;">
        jaredgabaldon25@gmail.com
      </a>
    </p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/jared-gabaldon-aaa489a3/" style="color:white;">
        linkedin.com/in/jared-gabaldon-aaa489a3
      </a>
    </p>
    <p>
      GitHub:
      <a href="https://github.com/jaredgabaldon" style="color:white;">
        github.com/jaredgabaldon
      </a>
      &
      <a href="https://github.com/Climate-Dev-Enterprises" style="color:white;">
        github.com/Climate-Dev-Enterprises
      </a>
    </p>
  </section>
</Layout>
