---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Jared Gabaldon">
  <section>
    <h1>Contact</h1>
    <p>Email: 
  <a href="mailto:jaredgabaldon25@gmail.com" style="color:white;">
    jaredgabaldon25@gmail.com
  </a>
</p>
    <p>LinkedIn: add your profile URL here</p>
    <p>GitHub: add your GitHub URL here</p>
  </section>
</Layout>